<form #userDetails = "ngForm" (ngSubmit)="onSubmit(userDetails.value)" novalidate>
  <label for="fName">First name:</label>
  <input type="text" name="fName" [ngModel]="user.firstName" #fName="ngModel" required>
  <div [hidden]="fName.valid || fName.pristine">Please tell us your first name</div>
  <br />
  <label for="lName">Last name:</label>
  <input type="text" name="lName" [ngModel]="user.lastName" #lName="ngModel" required>
  <div [hidden]="lName.valid">Please tell us your last name</div>
  <br />
  

  <label for="userMail">Email:</label>
  <input type="email" name="userMail" [ngModel]="user.email" #userMail="ngModel" required>
  <br />

  <div *ngIf="userMail.touched && !userMail.valid">
    <span *ngIf="userMail.errors?.['required']">Email is a required</span>
    <span *ngIf="userMail.errors?.['pattern']">Please provide a valid email address</span>
  </div> 
  <br />

  <div>
    <label for="dept">Department: </label>
    <select name="dept" ngModel="dept">
      <option value="sales">Sales</option>
      <option value="sales">IT</option>
    </select>
  </div>
  <br />

  <div>
    <label for="prizes">Prize Preference: </label>
    <div *ngFor="let prize of prizes">
      <label>
        <input type="radio" name="prizePreference" [value]="prize" required> {{ prize }} 
      </label>
    </div>
  </div>

  <input type="submit" value="Submit" [disabled]="userDetails.invalid">
  <input type="submit" value="Reset" (click)='userDetails.reset()'>
  <br />
</form>

<br />
<div> 
<a routerLink="/reactform" >React Form</a>
</div> 
<router-outlet></router-outlet>

